<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="home">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-menu-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="home">Startseite</a></li>
        <li><a routerLink="admin">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
