.main-container {
    margin: 60px 0 0 0;
}

.footer-disclaimer {
    border-radius: 5px;
    border: #DDDDDD 1p solid;
    background: rgba(200, 200, 200, 0.3);
    padding: 5px;
    text-align: center;
}